.projects {
  padding: 50px 0;
  @include dark-background;
  color: $text-sec;
  
  h3 {
    padding-bottom: 20px;
    @include font-size(1.5rem, 2rem);
  }
  .stack {
    @include center-content;
    margin-bottom: 50px;
    height: 400px;
    overflow: hidden;
    background: $text-sec;
    transition: 0.2s;
    * {
      width: 100%;
    }
  }
}

.stack {
  color: $text-prim;
  header {
    height: 30px;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $text-prim;
    i {
      display: inline;
    }
    p {
      background: $accent;
      color: $text-sec;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      height: 100%;
    }
  }
}

.elements {
  display: flex;
  flex-wrap: wrap;
  height: 370px;
  background: linear-gradient(45deg, $gray-prim, $gray-sec);
  .element {
    width: 20%;
    margin: 25px 2.5%;
    height: 320px;
    overflow: hidden;
    border: 1px solid $text-prim;
    box-shadow: 0 0 20px 2px $text-prim;
    &:hover {
      .info-box {
        top: 0;
      }
    }
  }
}
.info-box {
  display: grid;
  transition: 0.2s;
  position: relative;
  top: 280px;
  height: 100%;
  align-items: center;
  background: rgba($text-sec, 0.9);
  grid-template-rows: 40px 1fr repeat(3, auto);
  * {
    padding: 10px;
  }
  p {
    font-weight: 700;
  }
  .buttons {
    grid-row: 5/6;
    @include grid-dbl-col;
    grid-gap: 10px;
    a {
      padding: 5px;
      @include button;
    }
  }
  
}

#projectOne{
  background: url('../public/projectOne.jpg');
}

#projectTwo{
  background: url('../public/projectTwo.jpg');
}

#projectThree{
  background: url('../public/projectThree.jpg');
}

#projectFour{
  background: url('../public/projectFour.jpg');
}

#projectFive {
  background: url('../public/projectFive.jpg');
}

#projectSix {
  background: url('../public/projectSix.jpg');
}

#projectSeven {
  background: url('../public/projectSeven.jpg');
}

#projectEight {
  background: url('../public/projectEight.jpg');
}

#projectOne, #projectTwo, #projectThree, #projectFour, #projectFive, #projectSix, #projectSeven, #projectEight {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}