$text-prim: #212121;
$text-sec: #FFFFFF;
$spice: #E0F8F7;
$gray-prim: #757575;
$gray-sec: #585858;
$accent: #2196f3;
$shade: rgba(0,0,0,0.3);
$roboto: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $roboto;
  font-size: 16px;
  background-image: url("../public/pattern.svg");
  min-width: 360px;
}


h1, h2, h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.social {
  list-style-type: none;
  display: flex;
  flex: auto;
  justify-self: center;
  a {
    padding: 15px;
    display: inline-block;
    color: $text-sec;
    text-transform: uppercase;
    transition: 0.3s;
  }
}

nav {
  position: fixed;
  height: 75px;
  padding: 10px 20px;
  width: 100%;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid $text-prim;
  & > a {
    width: 50px;
  }
  ul.social {
    justify-self: flex-end;
    font-weight: 700;
    a:hover{
      text-decoration: underline;
      transform: scale(1.2);
    }
  }
}

.hero {
  min-height: 500px;
  height: 100vh;
  width: 100%;
  background-image: url("../public/pattern.svg"), linear-gradient($gray-prim, $text-prim);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "."
    "title"
    "social"
    "."
    "next"
  ;
  .title {
    grid-area: title;
  }
  .social {
    grid-area: social;
    align-self: center;
    li {
      padding: 0 20px;
    }
    span {
      background-image: -webkit-linear-gradient($spice, $gray-sec, $text-sec);
      background-image:         linear-gradient($spice, $gray-sec, $text-sec);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      &:hover {
        color: $text-sec;
      }
    }
  }
  .next {
    grid-area: next;
    span {
      background-image: -webkit-linear-gradient(left, $spice, $gray-sec, $spice);
      background-image:         linear-gradient(to right, $spice, $gray-sec, $spice);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      &:hover {
        color: $text-sec;
      }
    }
  }
}

.title {
  justify-self: center;
  display: grid;
  justify-items: center;
  align-content: center;
  h1 {
    color: $text-sec;
    font-size: 5rem;
    border-bottom: 5px solid $text-prim;
    padding: 0 25px;
  }
  h3 {
    font-size: 2.7rem;
    letter-spacing: 7px;
    padding-top: 10px;
    color: $text-sec;
  }
}



.next {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  a {
    color: $text-prim;
  }
}

.about {
  box-shadow: 0 0 20px 5px $text-prim inset;
  background: $text-sec;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  h3 {
    padding-bottom: 20px;
  }
  
  .summary {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .toolkit {
    padding: 0 50px;
    .social {
      justify-content: center;
      padding: 50px 0;
      li {
        align-self: center;
      }
    }
  }
}

.projects {
  padding: 100px 0;
  padding-top: 50px;
  text-align: center;
  background: url("../public/pattern.svg"), rgb(33, 33, 33);
  color: $text-sec;
  
  h3 {
    padding-bottom: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .stack {
    width: 80%;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
    background: $text-sec;
    * {
      width: 100%;
    }
  }
}

.stack {
  height: 100%;
  color: $text-prim;
  header {
    background: $accent;
    color: $text-sec;
    height: 30px;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    i {
      display: inline;
    }
    a {
      color: $text-sec;
    }
    a:hover {
      background: rgba($text-sec, 0.2);
    }
  }
}

.elements {
  display: flex;
  flex-wrap: wrap;
  height: 370px;
  .element {
    width: 20%;
    margin: 25px 2.5%;
    height: 320px;
    overflow: hidden;
    border: 1px solid $accent;
  }
}
.info-box {
  top: 0px; /*270*/
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  * {
    padding: 10px;
  }
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    a {
      padding: 5px;
      background: $accent;
      color: $text-sec;
      cursor: pointer;
      &:hover {
        background: rgba($accent, 0.8);
        text-decoration: underline;
      }
    }
  }
}

.close {
  box-shadow: 0 0 20px 5px $text-prim inset;
  padding: 50px 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  .files {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    h3 {
      padding-bottom: 20px;
    }
    a {
      display: inline-block;
      background: $accent;
      padding: 5px 10px;
      color: $text-sec;
      margin: 0 10px;
      margin-top: 20px;
      border-radius: 5px;
      &:hover {
        background: rgba($accent, 0.8);
        text-decoration: underline;
      }
    }
  }
  .direct {
    width: 80%;
    margin: 0 auto;
  }
}

.contact {
  width: 100%;
  background: url("../public/pattern.svg"), rgb(33, 33, 33);
  padding: 50px 0;
  color: $text-sec;
  font-size: 1.5rem;
  line-height: 2rem;
  h3 {
    text-align: center;
    padding-bottom: 20px;
  }
  form {
    width: 80%;
    margin: 0 auto;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  
  div p {
    padding-left: 10px;
    visibility: hidden;
    position: relative;
    top: 43px;
  }
  .field {
    display: grid;
    grid-template-rows: 25px 50px;
    grid-gap: 10px;
  }
  
  .type-div div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    span > * {
      cursor: pointer;
    }
  }
  .msg-div{
    grid-column: 1/3;
  }
  #button {
    grid-template-rows: 30px;
    width: 100px;
    justify-self: end;
    grid-column: 2/3;
    padding: 5px;
    background: $accent;
    border: none;
    cursor: pointer;
    &:hover {
      background: rgba($accent, 0.8);
      text-decoration: underline;
    }
  }
  input, textarea, input::placeholder, textarea::placeholder {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 5px;
    color: $text-sec;
  }
  input, textarea {
    border: none;
    border-bottom: 2px solid $accent;
    background: $shade;
  }
  textarea {
    font-family: $roboto;
    width: 100%;
    height: 100px;
    resize: none;
    padding-top: 5px;
  }
  textarea:focus, input:focus {
    outline: none;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] ~ span {
    padding: 10px;
    &:hover {
      border: 2px solid rgba($accent, 0.3);
    }
  }
}

.footer {
  padding: 10px 0;
  border-top: 1px solid $text-sec;
  display: grid;
  text-align: center;
  background: $text-prim;
  color: $text-sec;
}

.highlight {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: 2px solid $accent;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .elements {
    overflow-y: scroll;
    .element {
      
      width: 30%;
      margin: 25px (10%/6);
    }
  }
  .form .type-div div {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 970px) {
  .close p, .close a, .about p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .title {
    h1 {
      font-size: 4rem;
    }
    h3 {
      letter-spacing: 4px;
      font-size: 2.4rem;
    }
  }
  .hero .social span {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 840px) {
  .close p, .close a, .about p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 720px) {
  .about p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .elements {
    .element {
      width: 45%;
      margin: 25px 2.5%;
    }
  }
  .form {
    grid-template-columns: 1fr;
    font-size: 1.3rem;
    line-height: 1.8rem;
    grid-gap: 0;
    & > *, & #button{
      grid-column: 1/2;
      width: 100%;
    }
    .type-div div {
      grid-template-columns: 1fr 1fr;
    }
  }
  .title {
    h1 {
      font-size: 3rem;
    }
    h3 {
      letter-spacing: 2px;
      font-size: 1.9rem;
    }
  }
  .hero .social span {
    font-size: 2.7rem;
  }
  .about {
    .toolkit {
      .social {
        flex-wrap: wrap;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .elements {
    .element {
      width: 90%;
      margin: 25px 5%;
    }
  }
  .form {
    .type-div div {
      grid-template-columns: 1.5fr 2fr;
    }
  }
  .title {
    h1 {
      font-size: 2rem;
    }
    h3 {
      letter-spacing: 0;
      font-size: 1.4rem;
    }
  }
  .hero .social {
    li {
      padding: 0 5px;
    }
  }
  .contact .form, .form input, .form textarea, .form input::placeholder, .form textarea::placeholder{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}