:root {
  font-size:16px;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  font-family: "Work Sans", sans-serif;
  min-width: 290px;
  text-align: center;
  color: #212121;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list a {
  padding: 15px;
  display: inline-block;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sub-header-hero-text {
  font-size: 3em;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
}
.normal-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  height: 75px;
  padding: 10px 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.normal-nav > a {
  width: 80px;
  height: 50px;
}

.normal-nav ul.list {
  justify-self: flex-end;
  font-weight: 300;
  margin-left: auto;
}

.normal-nav ul.list a:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.scroll {
  background: rgba(33, 33, 33, 0.5);
}
.scroll2 {
  background: rgba(33, 33, 33, 0.8);
}

.flex-nav {
  position: absolute;
  right: -100%;
  top: 75px;
  overflow: hidden;
  width: 100%;
  background: rgba(33, 33, 33, 0.5);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.flex-nav li {
  padding: 15px;
}

.flex-nav li a {
  color: #FFFFFF;
  font-size: 1rem;
  width: 100%;
  display: block;
}

.flex-nav li:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.flex-nav.open {
  right: 0;
  background: rgba(33, 33, 33, 0.8);
}

#burger-container {
  position: relative;
  justify-self: flex-end;
  height: 50px;
  display: none;
  margin-left: auto;
}

#burger {
  cursor: pointer;
  display: block;
}

#burger span {
  background: #FFFFFF;
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#burger span:first-child {
  margin-top:12px;
}
#burger span:last-child {
  margin-bottom:12px;
}
#burger-container.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#burger-container.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
}

#burger-container.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -12px;
}
/* background: -webkit-linear-gradient(to bottom, #061161, #780206); */
.hero {
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4b6cb7, #182848);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#4b6cb7), to(#182848));
  background: -webkit-linear-gradient(top, #4b6cb7, #182848);
  background: -o-linear-gradient(top, #4b6cb7, #182848);
  background: linear-gradient(to bottom, #4b6cb7, #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 500px;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero .list li {
  padding: 0 20px;
}

.list span:hover, .next img:hover {
  color: #FFFFFF;
}

.next img {
  position: relative;
  -webkit-animation: move 1.5s infinite linear;
          animation: move 1.5s infinite linear;
}

.next a {
  color:#FFFFFF;
}

.title, .next {
  color: #FFFFFF;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

#heroLetter1,
#heroLetter2,
#heroLetter3,
#heroLetter4,
#heroLetter5,
#heroLetter6,
#heroLetter7,
#heroLetter8,
#heroLetter9,
#heroLetter10,
#heroLetter11,
#heroSubLetter1,
#heroSubLetter2,
#heroSubLetter3,
#heroSubLetter4,
#heroSubLetter5,
#heroSubLetter6,
#heroSubLetter7,
#heroSubLetter8,
#heroSubLetter9,
#heroSubLetter10,
#heroSubLetter11,
#heroSubLetter12,
#heroSubLetter13,
#heroSubLetter14,
#heroSubLetter15,
#heroSubLetter16,
#heroSubLetter17,
#heroSubLetter18,
#heroSubLetter19,
#heroSubLetter20
{
  opacity: 0;
}

.title h1 {
  font-size: 5rem;
  padding: 0 25px;
}

.title span {
  font-family: "Source Code Pro", sans-serif;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.about {
  background: #FFFFFF;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 100px 50px;
}

.about h2 {
  padding-bottom: 50px;
  color: #182848;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
}
.about-flex,
.toolkit {
  max-width: 1000px;
  margin: 0 auto;
}
.toolkit p{
  margin: 10px;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio-image {
  -webkit-box-flex:1;
      -ms-flex:1 300px;
          flex:1 300px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin:10px;
}
.portfolio-image img{
  border-radius: 150px;
}
.portfolio-image p{
  color: #585858;
  font-size: 1rem;
  line-height: 1rem;
  margin-top:10px;
}
.summary p,
.toolkit p {
  margin-bottom:20px;
  text-align: left;
}
.toolkit p {
  text-align: center;
}
.about .summary {
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-flex:2;
      -ms-flex:2 300px;
          flex:2 300px;
  margin: 10px;
}

.about .toolkit .list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}
.toolkit .list li {
  margin: 5px 2px;
}
.toolkit li.other-lis {
  -ms-flex-item-align:end;
      align-self:flex-end;
  margin: 5px;
}
.dots {
  cursor: default;
}
.dot {
  height: 15px;
  width: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
}
.dot:hover {
  background: rgba(255, 255, 255, 1);
}
.picked-dot {
  background: #FFFFFF;
}
#dot8 {
  background: rgba(255, 0, 0, 0.3);
}
#dot8.picked-dot,
#dot8:hover {
  background: red;
}
.dot8 {
  background: rgba(255, 0, 0, 0.3);
}
.dot8.picked-dot,
.dot8:hover {
  background: red;
}
.projects {
  padding: 100px 50px;
  background:  #182848;
  color: #FFFFFF;
}

.projects h2 {
  padding-bottom: 50px;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
}

.stack {
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  background: transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 50px;
}

.projects .left-arrow,
.projects .right-arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  width:50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  max-width: 50px;
}
.projects .left-arrow {
  margin-right: 50px;
}
.projects .right-arrow {
  margin-left: 50px;
}

.elements {
  -webkit-box-flex:1;
      -ms-flex:1 0 500px;
          flex:1 0 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  position: relative;
  overflow: hidden;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
  height: 100%;
}

.elements-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3500px;
  position: relative;
  left:0;
  height: 100%;
  -webkit-transition: 0.2s left;
  -o-transition: 0.2s left;
  transition: 0.2s left;
}

.element {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: relative;
}
.element-image{
  position: absolute;
  width: 100%;
  height: 400px;
  margin: 50px 0;
  background: transparent;
  z-index: 25;
  opacity: 1;
}
.info-box {
  position: absolute;
  top: 0;
  width: 400px;
  left: 50px;
  height: 100%;
  border: 1px solid white;
  padding:25px;
  background: transparent;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  opacity: 1;
}
.display-content {
  background: rgba(255,255,255,0.95);
}
.info-box *{
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}
.info-box.display-content * {
  opacity: 1;
  color: #212121;
  text-align: left;
}
.info-box.display-content h3 {
  opacity: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
}
.info-box h3 {
  font-family: "Source Code Pro", sans-serif;
  opacity: 1;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #FFFFFF;
  width: 100%;
  font-weight: 300;
}
.info-box .info-box-header2 {
  font-size: 1.1rem;
  text-align: center;
  color: #182848;
  margin-bottom: 20px;
  font-weight: 600;
}
.buttons {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.buttons .demo {
  display: block;
  text-align: center;
  padding: 10px 20px;
  width: 175px;
  background: #182848;
  color: #FFFFFF;
  border: 1px solid #182848;
}
.buttons .demo:hover {
  background: transparent;
  color: #182848;
}
.info-box.display-content .link,
.info-box .link {
  color: #4b6cb7;
}
.link:hover {
  text-decoration: underline;
}
#projectOne {
  background: url("../public/projectWLC.jpg");
}

#projectTwo {
  background: url("../public/projectMjob.jpg");
}

#projectThree {
  background: url("../public/projectDungeon.jpg");
}

#projectFour {
  background: url("../public/projectREST.jpg");
}

#projectFive {
  background: url("../public/projectGOL.jpg");
}

#projectSix {
  background: url("../public/projectTOSF.jpg");
}

#projectSeven {
  background: url("../public/projectCalc.jpg");
}

#projectEight {
  background: url("../public/projectSurprise.jpg");
}


#projectThree {
  background-size: contain;
}
#projectFour,
#projectFive,
#projectSix,
#projectSeven,
#projectEight {
  background-repeat: no-repeat;
  background-position: top center;
}

#projectOne,
#projectTwo,
#projectFour,
#projectSeven,
#projectEight {
  background-size: cover;
}

.contact {
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#182848), to(#4b6cb7));
  background: -webkit-linear-gradient(top, #182848, #4b6cb7);
  background: -o-linear-gradient(top, #182848, #4b6cb7);
  background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
  padding: 100px 50px;
  color: #FFFFFF;
}

.contact h2 {
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size:1.8rem;
  font-weight: 400;
}
.contact p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}
.contact .tooltip {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
  background: #2F487C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #324C83, #2F487C);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#324C83), to(#2F487C));
  background: -webkit-linear-gradient(top, #324C83, #2F487C);
  background: -o-linear-gradient(top, #324C83, #2F487C);
  background: linear-gradient(to bottom, #324C83, #2F487C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 15;
  padding: 0 5px;
}

.contact form {
  width: 80%;
  margin: 0 auto;
  margin-top:50px;
  max-width: 1000px;
}
#contactDiv {
  opacity: 1;
  position: relative;
  left:0;
}

#contact2,
#contact3 {
  opacity: 0;
  background: transparent;
  position: relative;
  left:1000px;
}

.form div p {
  padding-left: 5px;
  position: relative;
  text-align: left;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.form .msg-div,
.form .field {
  margin-top: 20px;
  position: relative;
}

body .form #button {
  padding: 10px 80px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: #FFFFFF;
  color: #182848;
  cursor: not-allowed;
  margin-top:50px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #FFFFFF;
}

#contact .form .buttonClass:hover {
  background: transparent !important;
  color:#FFFFFF;
}

.form input, .form textarea {
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 10px;
  color: #FFFFFF;
  border: none;
  border: 1px solid #FFFFFF;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  width: 100%;
  height: 50px;
  font-family: "Work Sans", sans-serif;
  position: relative;
}

.form textarea {
  height: 110px;
  resize: none;
  padding-top: 5px;
}

.form textarea:focus, .form input:focus {
  outline: none;
}

.form .tooltip {
  position: absolute;
  color: #FFFFFF;
  right: 10px;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.8rem;
  line-height: 15px;
}
.msg-div .msg,
.field .email {
  height: 50px;
  line-height: 50px;
  top: 0;
  position: absolute;
  width: 100%;
}
.form p.swoosh {
  top: 0;
}

.form p.msg.swoosh,
.form p.email.swoosh {
  top: -8px;
  font-size: 0.8rem;
  line-height: 15px;
  height: 15px;
  z-index: 15;
  margin-left: 4px;
}
.form p.msg.swoosh span {
  background: #324C83;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #324C83, #38538F);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#324C83), to(#38538F));
  background: -webkit-linear-gradient(top, #324C83, #38538F);
  background: -o-linear-gradient(top, #324C83, #38538F);
  background: linear-gradient(to bottom, #324C83, #38538F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 2px;
}
.form p.email.swoosh span {
  background: #2D4678;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2D4678, #2F487C);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#2D4678), to(#2F487C));
  background: -webkit-linear-gradient(top, #2D4678, #2F487C);
  background: -o-linear-gradient(top, #2D4678, #2F487C);
  background: linear-gradient(to bottom, #2D4678, #2F487C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 2px;
}

.form .swoosh .tooltip {
  opacity: 1;
}

.footer {
  padding: 30px 0;
  background: #212121;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 0.9rem;
}

.footer .fa-music {
  color: #4b6cb7;
}

#stickyFooter {
  height: 100px;
  position: fixed;
  bottom:0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}
#footerArrowText {
  color: #FFFFFF;
  position: absolute;
  bottom: 18px;
  left:110px;
  cursor: pointer;
  font-size: 3rem;
  -webkit-animation: moveLeftnRight 0.75s infinite linear;
          animation: moveLeftnRight 0.75s infinite linear;
}
@-webkit-keyframes moveLeftnRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes moveLeftnRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.sticky-social {
  position: fixed;
  bottom: 25px;
  left: 25px;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  background:rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  width: 50px;
  height: 50px;
  z-index:150;
}
.scroll-more {
  background:url('../public/60background.svg');
  background-position: center;
  background-size: 97%;
  background-repeat: no-repeat;
}
.sticky-social:hover {
  background:url('../public/90background.svg');
  background-position: center;
  background-size: 97%;
  background-repeat: no-repeat;
}
.sticky-base {
  width:60px;
  height: 60px;
  z-index: 250;
}
.sticky-social a {
  color: #212121;
  vertical-align: middle;
  text-align: center;
}

.sticky-animate {
  opacity: 0;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.instagram-sticky,
.resume-sticky,
.linkedin-sticky,
.github-sticky {
  opacity: 1;
}
.instagram-sticky {
  bottom: 80px;
  left: 125px;
}
.resume-sticky {
  bottom: 125px;
  left: 80px;
}
.linkedin-sticky {
  bottom: 20px;
  left: 150px;
}
.github-sticky {
  bottom: 150px;
  left: 20px;
}
#shareClose {
  border-radius: inherit;
}
.hide {
  display: none;
}
.form {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.form > *, .form #button {
  width: 100%;
  max-width:500px;
  margin:0 auto;
}
.form #button {
  width: unset;
}

.footer-link,
#inputEmail,
#inputNumber,
#textareaMessage,
#textareaNumber {
  color: #FFFFFF;
}
.footer-link:hover {
  text-decoration: underline;
}
.arrow-image {
  width: 50px;
}
#buttonNew {
  padding: 10px 30px;
  background: rgb(255, 255, 255);
  color: #4b6cb7;
  margin-top:50px !important;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
}

#buttonNew:hover {
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
}

body div.cc-floating.cc-theme-classic,
body .cc-theme-classic a.cc-btn {
  border-radius: 0px;
}
body .cc-theme-classic a.cc-btn {
  border: 1px solid #4b6cb7;
}
body .cc-theme-classic a.cc-btn:hover {
  background: #182848;
  border: 1px solid #FFFFFF;
}
body .cc-floating .cc-message {
  font-weight: 300;
}
body .cc-right,
body .cc-bottom {
  right: 2.2em;
}
@media screen and (min-width: 1350px) {
  .stack {
    max-width: 1300px;
  }
  .elements {
    max-width: 1060px;
    -webkit-box-flex:1;
        -ms-flex:1 0 1060px;
            flex:1 0 1060px;
  }
  .element {
    margin: 0 15px;
  }
  .elements-two {
    width: 3710px;
  }
  .left-arrow {
    margin-right: 25px;
  }
  .right-arrow {
    margin-left: 25px;
  }
}

@media screen and (max-width: 970px) {
  .title h1 {
    font-size: 4rem;
  }
  .hero .list span {
    font-size: 3.2rem;
  }
  .sub-header-hero-text {
    font-size:2.4em;
  }
}

@media screen and (max-width: 840px) {
  .footer {
    font-size: 14px;
  }
  .arrow-image {
    width: 25px;
  }
  .projects .right-arrow {
    margin-left: 25px;
  }
  .projects .left-arrow {
    margin-right: 25px;
  }
  .projects .left-arrow, .projects .right-arrow {
    width: 25px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25px;
            flex: 1 0 25px;
    max-width: 25px;
  }
}
@media screen and (max-width: 739px) {
  .about-flex .portfolio-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-flex .summary {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portfolio-image {
    margin-top: 50px;
  }
}
@media screen and (max-width: 720px) {
  .footer {
    padding-left: 100px;
    padding-right: 25px;
  }
  .toolkit p {
    text-align: left;
  }
  .sub-header-hero-text {
    font-size: 1.8em;
  }
  .title h1 {
    font-size: 3rem;
  }
  .hero .list span {
    font-size: 2.7rem;
  }
  .about,
  .contact,
  .projects {
    padding: 50px 35px;
  }
  body .cc-revoke,body .cc-window {
    font-size: 12px;
  }
  :root {
    font-size: 14px;
  }
  #down-arrow {
    width: 75px;
  }
  .about h2,
  .close h2,
  .contact h2,
  .summary h2 {
    padding-bottom:25px;
  }
  .portfolio-image {
    margin-top: 25px;
  }
  .flex-nav li a,
  .list li a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 690px) {
  .arrow-image {
    z-index: 50;
    width: 50px;
  }
  .projects .right-arrow {
    margin-left: -50px;
    z-index: 65;
    background: rgb(24, 40, 72, 0.5);
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 400px;
    max-width: 50px;
  }
  .projects .left-arrow {
    margin-right: -50px;
    z-index: 65;
    width: 50px;
    background: rgb(24, 40, 72, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 400px;
    max-width: 50px;
  }
}
@media screen and (max-width: 600px) {
  .normal-nav .list {
    display: none;
  }
  #burger-container {
    display: block;
  }
  .contact form,
  .projects .stack {
    width: 100%;
  }
  .projects {
    padding: 50px 0;
  }
}
@media screen and (max-width: 519px) {
  .stack {
    max-width: 350px;
  }
  .elements {
    max-width: 350px;
    -webkit-box-flex:1;
        -ms-flex:1 0 350px;
            flex:1 0 350px;
  }
  .element {
    max-width: 350px;
  }
  .elements-two {
    width: 2450px
  }
  .info-box {
    left: 25px;
    width: 300px;
    padding: 25px 10px;
  }
  .projects .arrow {
    display:none;
  }
  .buttons .demo {
    width: 175px;
  }
}
@media screen and (max-width: 480px) {
  .sub-header-hero-text {
    font-size: 1.2em;
  }
  .about,
  .contact {
    padding: 50px 15px;
  }
  .title h1 {
    font-size: 2rem;
  }
  .hero .list li {
    padding: 0 5px;
  }
  .contact .form, .form input, .form textarea {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .form p.swoosh {
    top: 5px;
  }
}
@media screen and (max-width: 364px) {
  .stack {
    max-width: 300px;
  }
  .elements {
    max-width: 300px;
    -webkit-box-flex:1;
        -ms-flex:1 0 300px;
            flex:1 0 300px;
  }
  .element {
    max-width: 300px;
  }
  .elements-two {
    width: 2100px
  }
  .info-box {
    left: 25px;
    width: 250px;
    padding: 25px;
  }
}
@media screen and (max-width: 360px) {
  .title h1 {
    font-size: 1.75rem;
  }
  .hero .list li {
    padding: 0;
  }
  .close .files a {
    margin: 0;
    margin-top: 20px;
  }
  .form .type-div div {
    font-size: 0.9rem;
  }
  .hero .list span {
    font-size: 2.4rem;
  }
  .sub-header-hero-text {
    font-size: 1.07em;
  }
}